*{
    font-family: 'Poppins', sans-serif;
}

.login {
    height: 100vh;
}

.header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: black;
}

.header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: gray;
    margin-bottom: 20px;
}

.login-form label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-top: 20px;
}

.login-form input {
    background: white;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-form a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: grey;
    margin: 20px 0;
    display: block;
}

.login-form .signin {
    width: 100%;
    height: 42px;
    background: #0d1e46;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
}

.login-form .signin-google {
    width: 100%;
    height: 42px;
    background: white;
    border-radius: 8px;
    color: black;
    margin: 10px 0;
}

.login-form .signin-github {
    width: 100%;
    height: 42px;
    background: black;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
}

.login-form .signin-facebook {
    width: 100%;
    height: 42px;
    background: #395693;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
}

.login-form span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: grey;
}

.login-form span a {
    font-weight: 600;
    color: black;
}